################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HashCalculator/obj
/HashCalculator/bin/x86/Debug
